* {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.cabeçario {
display: flex;
justify-content: space-around;
font-family: 'Courier New', Courier, monospace;
color: #1c5052;
font-size: larger;
height: auto;
}

hr {
    height: auto;
}
.Entrar {
    width: 15%;
    text-align: center;
    background-color: aliceblue;
    height: auto;
}

.seção {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #348e91;
}

.Cadastre-se {
    width: auto;
    background-color: rgb(65, 184, 65);
    color: white;
    font-size: large;
    height: auto;
}

